.nrwd-footer{
	background-color:@footer-bg-color;
	>.row{
		background:@body-background-image;
		
		&:first-child{
			padding:15px 0;
		}
	}
	
	.footer-hygiene:nth-child(3n){
		 @media (max-width: @screen-xs-max) {
    		clear:both;
  		}
	}
	ul.footer-links{
		margin:0;
		padding:5px;
		li{
			list-style:none;
			
			&.footer-links-header{
				font-size: 16px;
				font-weight: 300;
				padding:10px 4px;
				margin-bottom:10px;
				border-bottom:1px solid @theme-highlight-color-2;
			}
			a{
				color: @footer-link-color;
				font-weight: 300;
				
				&:hover{
					color:@theme-highlight-color-2;
					text-decoration:none;
					font-weight:400;
				}
			}
		}
	}
	
	.footer-social{
		padding-top:10px;	
	}
	.footer-social-links{
		padding-top:10px;
		> li{
			a{
				display:block;
				i.social{
					width:32px;
					height:32px;
					display:inline-block;
					margin-right:5px;
					background:url('../img/social-icons.png') no-repeat transparent;
					
					&.social-fb{
						background-position:0 0;
					}
					&.social-tw{
						background-position:0 -35px;
					}
					&.social-gp{
						background-position:0 -70px;
					}
					&.social-tb{
						background-position:0 -105px;
					}
					&.social-yt{
						background-position:0 -140px;
					}
				}	
				span{
					display: inline-block;
					vertical-align: top;
					margin-top: 7px;	
					
					 @media (max-width: @screen-xs-max) {
						display:inline-block;
					}
					 @media (min-width: @screen-sm-min) and (max-width: @screen-sm-max) {      	
						display:none;
	   				 }
				}
				
				&:hover{
					i.social{
						background-position-x:-32px;
					}
				}
			}
		}
		
		 @media (min-width: @screen-sm-min) and (max-width: @screen-sm-max) {
			text-align:center;
			> li{
				display:inline-block;
				margin-right:15px;
				
				&:last-child{
					margin-right:0;
				}
			}			 	
		 }
	}
	
	.footer-copyright{
		border-top:1px solid darken(@theme-highlight-color-2,10%);
		padding:5px 15px;
		color:#FFFFFF;
		background:@theme-highlight-color-2;
	}
}