@mm-l3-border-top-color:#efefef;
@mm-l3-bg-color:#fbfbfb;
@mm-l3-cat-header-color:#333333;
@mm-l3-cat-link-color:#999999;
@mm-l3-cat-link-highlight-color:@theme-highlight-color-2;


.mm-l3-wrapper{
	display:none;
	
	position:absolute;
	background:@mm-l3-bg-color;
	left:0;
	width:100%;
	overflow:hidden;
	padding-bottom:20px;
	top:100%;
	border-top:1px solid @mm-l3-border-top-color;
	z-index:997;
	
	&:after{
		clear:both;
	}
	
	.mm-l3{
		margin:0;
		width:@new-gird-col-width;
		float:left;
		background:#FFFFFF;
		.lh-box-shadow(inset -1px -1px 0 0 #f5f5f5);
		padding:10px 5px;
		min-height: 100px;
		
		margin-bottom: -2000px; 
	 	padding-bottom: 2000px;
		
		
		>li{
			list-style:none;
		}
		
		.mm-l3-header{
			font-size: 15px;
			text-transform: capitalize;
			font-weight: 400;
			color:@mm-l3-cat-header-color;
			margin-bottom: 5px;
			margin-top: 5px;
			> a{
				color:@mm-l3-cat-header-color;
			}
		}
		
		.mm-l3-cat{
			
			.mm-l3-cat-link{
				
				padding: 2px 5px;	
				display:block;
				color:@mm-l3-cat-link-color;
				text-transform:capitalize;
				text-decoration:none;
				outline:1px solid transparent;
				.lh-transition(outline-color .25s linear, color .25s linear);
				
				&:hover{
					color:@mm-l3-cat-link-highlight-color;
					outline-color:@mm-l3-cat-link-highlight-color;
				}
			}
		}
		
		&:nth-child(2n){
			background:@mm-l3-bg-color;
		}
	}
	
}